body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #2e86de;
  --secondary-color: #54a0ff;
  --accent-color: #10ac84;
  --dark-color: #2c3e50;
  --light-color: #f5f6fa;
  --success-color: #2ed573;
  --warning-color: #ff9f43;
  --danger-color: #ee5253;
}

* {
  box-sizing: border-box;
} 